.v-application{
    font-family: 'Raleway', sans-serif!important; 
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
  
}
body{
    font-family: 'Raleway', sans-serif!important; 
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
  
}
//Heading Section
.heading-section{
  background-color: $primary;
  // height:200px;
  display: flex;
  align-items: center;
  padding:52px 0 0 0;
  @include breakpoint(small){
    padding:52px 0 0 0;
  }
  @include breakpoint(medium){
      padding:60px 0;
  }
  @include breakpoint(large){
      padding:100px 0;
  }
}
.heading-section__title{
  font-size:48px;
  font-family: 'Great Vibes', cursive!important;
  font-weight: 300;
  text-align: center;
  @include breakpoint (medium){
    font-size:100px;
  }
}
//Introduction
.introduction{
  position: relative;
  padding:52px 0 20px 0;
  @include breakpoint(small){
      padding:52px 0;
  }
  @include breakpoint(medium){
      padding:60px 0;
  }
  @include breakpoint(large){
      padding:100px 0;
  }
  
}

//Flex
.flex-center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

//Box
.box{
  outline: none;
  text-decoration: none;
  transition-property: box-shadow, opacity;
  overflow-wrap: break-word;
  position: relative;
  white-space: normal;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius:5px;
}
.box__red{
  background-color: #e46f5f
}
.box__blue{
  background-color: $primary;
}
.box__green{
  background-color: #56b7a9;
}
//Margins
.mar-tn100{
  margin-top:0!important;
  @include breakpoint(medium){
    margin-top:-75px!important;
  }
}
//Resets
ul{
    list-style: none!important;
}
.itallic{
  font-style: italic;
}

.sticky{
  position: sticky;
  top:52px;
}

.Cookie--base .Cookie__button{
  background-color: $primary!important;
}
