/* Breakpoints */

$breakpoint-xsmall: 600px;
$breakpoint-small: 960px;
$breakpoint-medium: 1264px;;
$breakpoint-large: 1904;
$breakpoint-xlarge: 2500px;

/* Breakpoints */
@mixin breakpoint($size) {
    @if $size==xlarge {
    @media (min-width: $breakpoint-xlarge) {
        @content;
    }
  } @else if $size==large {
    @media (min-width: $breakpoint-large) {
        @content;
    }
  } @else if $size==medium {
    @media (min-width: $breakpoint-medium) {
        @content;
    }
  } @else if $size==small {
    @media (min-width: $breakpoint-small) {
        @content;
    }
  } @else if $size==xsmall {
    @media (max-width: $breakpoint-xsmall) {
        @content;
    }
    
  }
}