//Carousel
.v-application .v-content .v-carousel{
    width: 100%;
    display: block;
    margin: 0 auto;
    @include breakpoint(large){
      width:60%;
    }
}
.box__carousel{

    outline: none;
    text-decoration: none;
    transition-property: box-shadow, opacity;
    overflow-wrap: break-word;
    position: relative;
    white-space: normal;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius:5px;
  
  
}