.instagram{
   background-color: $tertiary;
   position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}
.instagram-overlay {
    background: rgba(138, 192, 222,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    z-index: 2;
}
.instagram:hover .instagram-overlay{
    opacity: 1;
}
.instagram-overlay__content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
.instagram:hover .instagram-overlay__content{
top: 50%;
left: 50%;
opacity: 1;
z-index: 3;
.goto-insta{
    color: $tertiary;
    font-size: 40px;
    &:hover{
        color: $tertiary;
    }
}
}
.footer-navigation{
    background-color: #1a2d44;
}
.footer-navigation__list{
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
}
.footer-navigation__list-item + .footer-navigation__list-item{
    margin-left:10px;
}
.copyright{
    background-color: #1a2d44;
    padding:12px;
    text-align: center;
}