.logo__heading{
    font-family: 'Great Vibes', cursive!important;
    font-size:60px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    @include breakpoint(small){
        text-align: left;
        font-size:68px;
        
    }
    @include breakpoint(medium){
        font-size:120px;
       
    }  
    
}

.logo__heading__navbar{
    font-size: 30px;
    text-decoration: none;
}