.navigation{
    backdrop-filter: blur(8px);
    opacity: .85;
    transition:1s all!important;
    &:hover{
        opacity: 1;
        transition:1s all!important;
    }
}
.navigation__heading{
    font-family: 'Great Vibes', cursive!important;
    font-size:48px;
    font-weight: 300;
    line-height: 1
}
.drawer__buttons{
    text-decoration: none;
}

.navigation__list{
    text-align: left;
}
.navigation__icon-text{
    text-decoration: none!important;
}

.v-application .navigation__link{
    font-size:40px;
    text-decoration: none;
    margin-left: 0;
    transition: .8s all;
    &:hover{
        color:$tertiary-dark!important;
        margin-left: 12px;
        transition: .8s all;
    }
}

.v-application .navigation__social-link{
    font-size:24px;
}
