<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Valentina Huelsmann Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway:300,400,600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Great Vibes', 'cursive']
                    [ 'Raleway', 'sans-serif']
        }
      });
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but This site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <form
              class="contact-form"
              name="contact"
              method="POST"
              netlify-honeypot="bot-field"
              netlify
              data-netlify="true"
              hidden
            >
             <input type="hidden" name="form-name" value="contact" />

              <p class="hidden">
                <label>
                  Don’t fill this out if you're human:
                  <input name="bot-field" />
                </label>
              </p>

              <div class="input">
                <input
                  v-model="in_name"
                  class="input__input"
                  :class="{ 'input__input--filled' : in_name }"
                  type="text"
                  name="name"
                  id="name"
                />
                <label for="name" class="input__label">Name</label>
              </div>

              <div class="input">
                <input
                  class="input__input"
                  :class="{ 'input__input--filled' : in_email }"
                  type="text"
                  v-model="in_email"
                  name="email"
                  id="email"
                />
                <label for="email" class="input__label">Email</label>
              </div>

              <div class="input">
                <textarea
                  class="input__input"
                  :class="{ 'input__input--filled' : in_message }"
                  type="text"
                  v-model="in_message"
                  name="message"
                  rows="6"
                  id="message"
                ></textarea>
                <label for="message" class="input__label">Your Message</label>
              </div>

              <button class="button button--no-border" type="submit">Send</button>
            </form>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
