

.about__box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border:1px solid white;
    opacity: 1;
    padding:40px;
}