.contact-form__wrapper{
    max-width: 100%;
    display: block;
    margin:40px auto;
    @include breakpoint(small){
        max-width: 80%;
    }
    @include breakpoint(medium){
        max-width: 70%;
    }
    @include breakpoint(large){
        max-width: 60%;
    }
}
.contact-form__form{
    padding:20px 60px;
}
.v-application .contact-form__button{
    background-color: $primary_red!important;
}
