

.v-application .introduction .main-carousel{
    height:100%!important;
   
    @include breakpoint(medium){
        height:auto!important;
    }
    @include breakpoint(large){
        height:auto!important;
    }
}
.v-application .v-window__container{
    background-color: transparent!important;
}
.v-application .introduction .v-window__container .v-carousel__item{
    background-color: transparent!important;
    
}
.v-application .introduction .main-carousel .v-image__image--cover{
    background-size:cover;
    
}


//Case Studies
.case-studies{
    margin-top:0;
    background-color: $tertiary;
    @include breakpoint(small){

    }
}
.case-studies__negative{
    margin-top:-100px;
}
.v-application .case-studies__image{
    max-width:100%;
    margin: 0 auto;
    @include breakpoint(small){
        max-width: 500px;
    }
}
.case-studies__box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    outline:1px solid white;
    outline-offset: -20px;
    opacity: 1;
    transition: opacity 0.5s;
    &:hover{
        opacity: 0.8;
        transition: opacity 0.5s;
        outline:1px solid white;
        outline-offset: -20px;
        .case-studies__arrow{
            margin-left:5px;
        }
    }
    @include breakpoint(small){
        width: 300px;
    }

}
.case-studies__title{
    font-family: 'Great Vibes', cursive!important;
    font-size:40px;
}
.case-studies__arrow{
    margin-left:0;
}