//Content
.about-description__wrap{
    padding:20px;
}
.about-description__paragraph{
    color: #1a2d44;
}
//Gallery
.v-application .v-window__container{
    background-color: $tertiary;
}
.gallery{
    background-color: $tertiary;
}
.v-application .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon, .theme--light.v-tabs > .v-tabs-bar .v-tab--disabled{
    color: #1a2d44;
}
//Lightbox Edits
.v-application #silentbox-overlay__arrow-buttons .arrow:hover, #silentbox-overlay__arrow-buttons .arrow:focus{
    border-color: $primary!important;
}
.v-application #silentbox-overlay__arrow-buttons .arrow-next:hover, #silentbox-overlay__arrow-buttons .arrow-next:focus {
    animation-iteration-count: initial!important;

}
.v-application #silentbox-overlay__close-button .icon:hover:before, #silentbox-overlay__close-button .icon:hover:after, #silentbox-overlay__close-button .icon:focus:before, #silentbox-overlay__close-button .icon:focus:after {
    background: $tertiary!important;
    
}
#silentbox-group{
    background-color: $tertiary;
}
