<template>
  <div>
    <section class="introduction primary">
      <v-container>
        <v-row>
          <v-col order="2" order-sm="1" cols="12" md="6"> 
            
              <div class="white--text pa-6 sticky" data-aos="fade-down" data-aos-delay="500">
                
                <p class="about__content">Wer bin ich? Bin ich eine Moldawierin, wie meine Mutter, die mir die Liebe zu Traditionen, moldawischen Textilien und Handwerken, moldawischem Essen beigebracht hatte?  
                Oder bin ich eine Russin, wie mein Vater sich sah, von dem ich meine „Muttersprache“ geerbt habe? Vielleicht aber schlagen auch die armenischen und ukrainischen Gene durch, 
                die von beiden Seiten meiner Eltern hereinspielen? Oder bin ich doch eine Deutsche, wie es mein Ausweis sagt? Wohl von allem etwas und all diese Einflüsse sind für mein künstlerisches Arbeiten wichtig - genauso wichtig wie die Verbindung von Kunst und handwerklicher Tradition</p>                
              </div>
            
          </v-col>

          <v-col order="1" order-sm="2" cols="12" md="6"> 
            <div class="flex-center-center">
              <v-img class="box" grey lighten-2  :src="imageOne" aspect-ratio="1"> </v-img>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <v-img :src="ornamentOne" aspect-ratio="1" height="150px" sizes="cover"></v-img>
  </div>
</template>

<script>
  export default {
    
    data () {
      return {
        imageOne:require('../assets/img/val.jpg'),
        ornamentOne:require('../assets/img/ornaments/ornament blau.jpg')
      }
    },
  }
</script>
