<template>
    <div>
        <section class="heading-section">
            <v-container>
                <v-row>
                    <v-col xs="12" >
                        <div class="flex-center-center">
                            <h1 class="heading-section__title secondary--text">Drop Me A Message</h1>
                        </div>
                            
                    </v-col>
                </v-row>
            </v-container>
        </section>
        <section class="contact primary">
            <v-container>
                <div class="contact-form__wrapper">
                    <form
                    class="contact-form__form"
                    name="contact"
                    method="POST"
                    netlify-honeypot="bot-field"
                    netlify
                    data-netlify="true"
                    >
                        <input type="hidden" name="form-name" value="contact" />

                        <p class="hidden" hidden>
                            <label>
                            Don’t fill this out if you're human:
                            <input name="bot-field" />
                            </label>
                        </p>

                    
                        <v-text-field
                        v-model="in_name"
                        dark
                        class="input__input"
                        label="Full Name"
                        type="text"
                        name="name"
                        id="name"
                        :error-messages="nameErrors"
                        @input="$v.in_name.$touch()"
                        @blur="$v.in_name.$touch()"
                        />
                        
                        <v-text-field
                        class="input__input"
                        label="Email"
                        type="text"
                        v-model="in_email"
                        name="email"
                        id="email"
                        dark
                        :error-messages="emailErrors"
                        @input="$v.in_email.$touch()"
                        @blur="$v.in_email.$touch()"
                        />
                
                        <v-textarea
                        class="input__input"
                        type="text"
                        v-model="in_message"
                        name="message"
                        label="Message"
                        rows="6"
                        id="message"
                        dark
                        :error-messages="messageErrors"
                        @input="$v.in_message.$touch()"
                        @blur="$v.in_message.$touch()"
                        />

                    <v-btn class="white--text" rounded outlined @click="handleSubmit" type="submit">Send</v-btn>
                    
                    </form>
                </div>
                
            </v-container>
        </section>
    </div>
</template>

<script>

import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'
    export default {
        mixins: [validationMixin],
        validations: {
            in_name: { required },
            in_email: { required, email },
            in_message:{
                required, maxLength: maxLength(200)
            }
        },
        data (){
            return{
                in_name: null,
                in_email: null,
                in_message: null

            }

        },
        computed: {
            nameErrors () {
                const errors = []
                if (!this.$v.in_name.$dirty) return errors
                !this.$v.in_name.required && errors.push('Name is required.')
                return errors
            },
            emailErrors () {
                const errors = []
                if (!this.$v.in_email.$dirty) return errors
                !this.$v.in_email.email && errors.push('Must be valid e-mail')
                !this.$v.in_email.required && errors.push('E-mail is required')
                return errors
            },
            messageErrors (){
                const errors = []
                if (!this.$v.in_message.$dirty) return errors
                !this.$v.in_message.maxLength && errors.push('Message must be at most 10 characters long')
                !this.$v.in_message.required && errors.push('Message is required')
                return errors
            }
        },
        methods: {
            // encode(data){
            //     return Object.keys(data)
            //     .map(
            //     key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
            //     )
            //     .join("&");
            // },
            // handleSubmit () {
            //     fetch("/", {
            //         method:'POST',
            //         header: {
            //             "Content-Type": "application/x-www-form-urlencoded"
            //         },
            //         body: this.encode({
            //             'form-name': 'contact',
            //             ...this.form
            //         })
            //     })
            //     .then(() => console.log("sucess"))
            //     .catch(e => console.error(e))
            //     this.$v.$touch()
            // },
            handleSubmit(){
                if(this.in_name && this.in_email && this.in_message){
                    event.preventDefault();
                    this.$v.$touch();
                }
                
            },
        }
        
    }
</script>

<style lang="scss" scoped>

</style>