<template>
  <div>
    <section class="introduction primary" >
      <v-container data-aos="fade">
        <v-row align="center">
          <v-col  md="4" lg="6">
            <div class="logo__section hidden-sm-and-down secondary--text" >
              <h1 class="logo__heading">
                Valentina
              </h1>
              <h1 class="logo__heading pl-12">
                Hülsmann
              </h1>
            </div>
            <div class="logo__section hidden-md-and-up  secondary--text" >
              <h2 class="logo__heading">
                Valentina Hülsmann
                </h2>
            </div>
            
          </v-col>
          <v-col  md="8" lg="6" >
              <!-- <v-card class="box"> -->
                <v-carousel dark cycle hide-delimiters class="main-carousel box__carousel">
                  
                    <v-carousel-item eager
                    v-for="(item,i) in items"
                    :key="i"
                    :src="item.src"
                    class="box"
                  ></v-carousel-item>
                 
                  
                </v-carousel>
                 <!-- </v-card> -->
             
          </v-col>
        </v-row>
      </v-container>
    </section>
    <section class="case-studies">
      <!-- <v-row>
        <v-img class="ornament d-flex" v-rellax="{speed: 2,}" src="../assets/img/ornament-blau.jpg" contain></v-img>
      </v-row> -->
      <v-container>
        <v-row data-aos-anchor-placement="top-center" data-aos="fade-right">
          <v-col cols="12" md="6" order="1" order-md="1">
            <v-img id="test" class="case-studies__image box" aspect-ratio="0.8" src="../assets/img/slawische-frau.jpg" ></v-img>
          </v-col>
          <v-col cols="12" md="6" order="2" order-md="2" align-self="center">
            <div class="flex-center-center"  >
                <router-link class="case-studies__box box primary"  to="/work#tab-People" exact>
                  <h3 class="case-studies__title secondary--text">People</h3>
                  <p class="case-studies__info secondary--text">
                  View Artwork 
                    <v-icon class="case-studies__arrow secondary--text">mdi-arrow-right</v-icon>
                  </p>
              </router-link>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <section class="mar-tn100 case-studies">
      <v-container>
        <v-row data-aos-anchor-placement="top-center" data-aos="fade-left">
          <v-col cols="12" md="6" order="4" order-md="3" align-self="center">
            <div class="flex-center-center" data-aos-anchor-placement="bottom-bottom" >
              <router-link class="case-studies__box box primary"  to="/work#tab-Flowers" exact>
                  <h3 class="case-studies__title secondary--text">Flowers</h3>
                  <p class="case-studies__info secondary--text">
                  View Artwork 
                    <v-icon class="case-studies__arrow secondary--text">mdi-arrow-right</v-icon>
                  </p>
              </router-link>
            </div>
          </v-col>
          <v-col cols="12" align-self="center" order="3" md="6" order-md="4">
            <v-img class="case-studies__image box" aspect-ratio="0.8"  src="../assets/img/hortensie-rosa.jpg" ></v-img>
          </v-col>
          
        </v-row>
      </v-container>
    </section>
    <section class="mar-tn100 case-studies">
      <v-container>
        <v-row data-aos-anchor-placement="top-center" data-aos="fade-right">
          <v-col cols="12" md="6" order="5" order-md="5">
            <v-img class="case-studies__image box" aspect-ratio="0.8" src="../assets/img/seidenschwanz.jpg"></v-img>
          </v-col>
          <v-col cols="12" md="6" order="6" order-md="6" align-self="center">
            <div class="flex-center-center">
              
              <router-link class="case-studies__box box box__blue" to="/work#tab-Birds" exact>
                  <h3 class="case-studies__title secondary--text">Birds</h3>
                  <p class="case-studies__info secondary--text">
                  View Artwork 
                    <v-icon class="case-studies__arrow secondary--text">mdi-arrow-right</v-icon>
                  </p>
              </router-link>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <section class="mar-tn100 case-studies">
      <v-container>
        <v-row data-aos-anchor-placement="top-center" data-aos="fade-left">
          <v-col cols="12" md="6" order="4" order-md="3" align-self="center">
            <div class="flex-center-center" >
              <router-link class="case-studies__box box primary"  to="/work#tab-Ornaments" exact>
                  <h3 class="case-studies__title secondary--text">Ornaments</h3>
                  <p class="case-studies__info secondary--text">
                  View Artwork 
                    <v-icon class="case-studies__arrow secondary--text">mdi-arrow-right</v-icon>
                  </p>
              </router-link>
            </div>
          </v-col>
          <v-col cols="12" order="3" md="6" order-md="4">
            <v-img class="case-studies__image box" aspect-ratio="0.8"  src="../assets/img/ornaments/Mitgift.jpg"></v-img>
          </v-col>
          
        </v-row>
      </v-container>
    </section>
  </div>
  
</template>

<script>

export default {
  components: {
  },
  data () {
      return {
        
        items: [
          {
            src: require('../assets/img/quince-final.jpg'),
          },
          {
            src: require('../assets/img/varakushka.jpg'),
          },
          {
            src: require('../assets/img/Nymphe.jpg'),
          },
          {
            src: require('../assets/img/paeonia-pink.jpg'),
          },
          {
            src: require('../assets/img/hortensie-blau.jpg')
          },
          {
            src: require('../assets/img/fuchs.jpg'),
          },
          
        ],
      }
    },
};
</script>
