<template>
    <div>
        <section class="heading-section">
            <v-container >
                <v-row>
                    <v-col xs="12" >
                        <div class="flex-center-center">
                            <h1 class="heading-section__title secondary--text">Artwork</h1>
                        </div>
                            
                    </v-col>
                </v-row>
            </v-container>
        </section>
        <section class="about-description tertiary">
            <v-container>
                <v-row>
                    <v-col cols="12" class="d-flex align-center">
                        <div class="about-description__wrap" data-aos="fade">
                            <p class="about-description__paragraph">
                                Meine Kunst ist eine nostalgische Recherche meiner Herkunft und eine Suche nach Schönheit, die uns stets von der Natur geschenkt wird.
                            </p>
                            <p class="about-description__paragraph">
                                
                                <span class="itallic">"In erster Linie muss man dekorativ sein.“</span>
                                <b> - Henry Matisse</b>
                            </p>
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </section>
        <section class="gallery">
            <v-container>
                <v-tabs
                v-model="tab"
                background-color="transparent"
                grow
                >
                    <v-tab
                        v-for="item in items"
                        :key="item"
                        :to="`#tab-${item}`"
                    >
                    
                        {{ item }}
                    </v-tab>
                </v-tabs>
                <v-tabs-slider color="primary"></v-tabs-slider>
                <v-tabs-items v-model="tab">
                    <v-tab-item :value="'tab-People'">
                        
                            <silentbox-group>
                            <v-row align="center">
                                
                                <v-col class="d-flex child-flex" cols="4" 
                                    v-for="cat in people" :key="cat"
                                >
                                    
                                       <silentbox-item :src="cat.image"  :description="cat.size">
                                        <v-card class="d-flex">
                                                    <v-img grey lighten-2  :src="cat.image" aspect-ratio="0.8">
                                                        <template v-slot:placeholder>
                                                            <v-row
                                                                class="fill-height ma-0"
                                                                align="center"
                                                                justify="center"
                                                            >
                                                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                                            </v-row>
                                                            </template>
                                                    </v-img>
                                        </v-card>
                                     </silentbox-item>
                                    
                                </v-col>
                                
                            </v-row>
                            </silentbox-group>
                        
                        
                    </v-tab-item>
                    <v-tab-item :value="'tab-Flora'">
                        
                            <silentbox-group>
                            <v-row align="center">
                                
                                <v-col class="d-flex child-flex" cols="4" 
                                    v-for="cat in flora" :key="cat"
                                >
                                    
                                       <silentbox-item :src="cat.image" :description="cat.size">
                                        <v-card class="d-flex">
                                                    <v-img grey lighten-2  :src="cat.image" aspect-ratio="0.8">
                                                        <template v-slot:placeholder>
                                                            <v-row
                                                                class="fill-height ma-0"
                                                                align="center"
                                                                justify="center"
                                                            >
                                                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                                            </v-row>
                                                            </template>
                                                    </v-img>
                                        </v-card>
                                     </silentbox-item>
                                    
                                </v-col>
                                
                            </v-row>
                            </silentbox-group>
                        
                        
                    </v-tab-item>
                    <v-tab-item :value="'tab-Fauna'">
                        
                            <silentbox-group>
                            <v-row align="center">
                                
                                <v-col class="d-flex child-flex" cols="4" 
                                    v-for="cat in fauna" :key="cat"
                                >
                                    
                                       <silentbox-item :src="cat.image" :description="cat.size">
                                        <v-card class="d-flex">
                                                    <v-img grey lighten-2  :src="cat.image" aspect-ratio="0.8">
                                                        <template v-slot:placeholder>
                                                            <v-row
                                                                class="fill-height ma-0"
                                                                align="center"
                                                                justify="center"
                                                            >
                                                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                                            </v-row>
                                                            </template>
                                                    </v-img>
                                        </v-card>
                                     </silentbox-item>
                                    
                                </v-col>
                                
                            </v-row>
                            </silentbox-group>
                        
                        
                    </v-tab-item>
                    <v-tab-item :value="'tab-Ornaments'">
                        
                            <silentbox-group>
                            <v-row align="center">
                                
                                <v-col class="d-flex child-flex" cols="4" 
                                    v-for="cat in ornaments" :key="cat"
                                >
                                    
                                       <silentbox-item :src="cat.image" :description="cat.size">
                                        <v-card class="d-flex">
                                                    <v-img grey lighten-2  :src="cat.image" width="100%" aspect-ratio="0.8">
                                                        <template v-slot:placeholder>
                                                            <v-row
                                                                class="fill-height ma-0"
                                                                align="center"
                                                                justify="center"
                                                            >
                                                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                                            </v-row>
                                                            </template>
                                                    </v-img>
                                        </v-card>
                                     </silentbox-item>
                                    
                                </v-col>
                                
                            </v-row>
                            </silentbox-group>
                        
                        
                    </v-tab-item>
                </v-tabs-items>
            </v-container>
        </section>
    </div>
</template>

<script>
    export default {
    data () {
      return {
        tab: null,
        items: [
            'People', 'Flora', 'Fauna', 'Ornaments'
        ],
        people: [
            {image:require('../assets/img/Braut.jpg'), size:'Die Braut, 2018 Acryl auf Leinwand. 80x110cm' },
            {image:require('../assets/img/Kira.jpg') , size: 'Kira, 2015. Pastell auf Papier. 60x80cm.' },
            {image:require('../assets/img/Moldawiering.jpg') , size:'Moldawische Frau,2013. Acryl auf Leinwand. 80x100cm.' },
            {image:require('../assets/img/Nymphe.jpg') , size:'' },
            {image:require('../assets/img/slawische-frau.jpg') , size:'Slawische Frau, 2013. Acryl auf Leinwand. 80x100cm' },
            {image:require('../assets/img/wintermarchen.jpg') , size:'Wintermärchen, 2013. Acryl auf Leinwand. 40x60cm' },
            {image:require('../assets/img/armenische-frau.jpg') , size:'Armenische Frau, 2013.Gouache und Tinte auf Leinwand. 45x64cm' },
            
      ],
      flora:[
          {image:require('../assets/img/granatapfel.jpg') , size:'Granatapfel, 2015. Bleistift'},
          {image:require('../assets/img/Pfirsich.jpg') , size:'Pfirsich, 2015. Bleistift'},
          {image:require('../assets/img/paeonia-pink.jpg') , size:'Pfingstrose, 2017. Aquarell'},
          {image:require('../assets/img/Paeonia-rokcii-sw.jpg') , size:'Pfingstrose Rockii, 2015. Bleistift'},
          {image:require('../assets/img/hortensie-blau.jpg') , size:'Blaue Hortensie, 2017. Aquarell'},
          {image:require('../assets/img/Pflaume.jpg') , size:'Pflaume, 2015.Bleistift'},
          {image:require('../assets/img/quince-final.jpg') , size:'Quitte, 2018. Aquarell'},
          {image:require('../assets/img/hortensie-rosa.jpg') , size:'Hortensie, 2015. Aquarell'},
      ],
      fauna:[
          {image:require('../assets/img/fuchs.jpg') , size:'Fuchs und Meise, 2015. Aquarell'},
          {image:require('../assets/img/sekretar.jpg') , size:'Sekretär, 2015. Aquarell'},
          {image: require('../assets/img/varakushka.jpg'), size:'Blaukehlchen, 2015. Aquarell'},
          {image:require('../assets/img/owl.jpg') , size:'Waldkauz, 2015. Aquarell'},
          {image:require('../assets/img/seidenschwanz.jpg') , size:'Seidenschwanz, 2015. Aquarell'},
          {image:require('../assets/img/eagle.jpg') , size:'Turmfalke, 2015. Aquarell'},
      ],
      ornaments:[
          {image:require('../assets/img/ornaments/Muhle.jpg') , size:'Mühle, 2020. Acryl auf Leinwand'},
            {image:require('../assets/img/ornaments/Lebensbaum.jpg') , size:'Lebensbaum, 2020. Acryl auf Leinwand'},
            {image:require('../assets/img/ornaments/Stern.jpg') , size:'Stern, 2020. Acryl auf Leinwand'},
            {image:require('../assets/img/ornaments/Rose_mit_Lebenswurzel.jpg') , size:'Rose mit Lebenswurzel, 2020. Acryl auf Leinwand'},
            {image:require('../assets/img/ornaments/Casa_Mare.jpg') , size:'Casa Mare (Quadryptich), 2020. Acryl auf Leinwand'},
            {image:require('../assets/img/ornaments/Ornament Kindertraume2.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/ornament blau.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/ornament armenische1.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/ornament braut.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/ornament braut2.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/ornament mitgift2.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/ornament moldwiering.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/Ornament nymphe.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/Ornament nymphe2.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/ornament slawische.jpeg') , size:'fragment'},
            {image:require('../assets/img/ornaments/ornament weib-blau2.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/ornament_kindertraume2.jpg') , size:'fragment'},
            {image:require('../assets/img/ornaments/Mitgift.jpg') , size:'Mitgift, 2019. Tempera auf Karton. 75x100cm.'},
      ]
        
      }
    },
  }
</script>

