<template>
    <footer>
        <div class="instagram">
            <div class="instagram-overlay"></div>
            <v-row>
                <v-col v-for="(gram, index) in grams.slice(0,6)" :key="index" md="2">
                <v-img aspect-ratio="1" :src="gram.images.standard_resolution.url" :alt="gram.text"> </v-img>
            </v-col>
            </v-row>
            <div class="instagram-overlay__content">
                <a class="goto-insta" href="https://www.instagram.com/val_en_tinka" target="_blank">View on Instagram</a>
            </div>
        </div>
        <nav class="footer-navigation py-6">
            <ul class="footer-navigation__list">
                <li class="footer-navigation__list-item"><router-link class="footer-navigation__link secondary--text"  to="/" exact>Home</router-link></li>
                <li class="footer-navigation__list-item"><router-link class="footer-navigation__link secondary--text"  to="/about" exact>About</router-link></li>
                <li class="footer-navigation__list-item"><router-link class="footer-navigation__link secondary--text"  to="/work" exact>Work</router-link></li>
                <li class="footer-navigation__list-item"><router-link class="footer-navigation__link secondary--text"  to="/contact" exact>Contact</router-link></li>
                <li class="footer-navigation__list-item"><router-link class="footer-navigation__link secondary--text"  to="/impressum" exact>Impressum</router-link></li>
                <li class="footer-navigation__list-item"><router-link class="footer-navigation__link secondary--text"  to="/datenschutz" exact>Datenschutz</router-link></li>
            </ul>
        </nav>
        <div class="copyright">
            <h5 class="copyright__text tertiary--text">&copy; 2013 - 2019 All rights reserved - Valentina Hülsmann </h5>
        </div>
        <cookie-law theme="base">	
            <div slot="message">
                Diese Seite verwendet Cookies <router-link to="/datenschutz">Mehr erfahren</router-link>
            </div>
		</cookie-law>
    </footer>
</template>

<script>
import CookieLaw from 'vue-cookie-law'
import axios from 'axios'
    export default {
        components:{
            CookieLaw
        },
        data(){
            return {
                access_token: "2036697.1677ed0.923e11fafff04e0a8ca6d366c460d9b9",
                url: "https://api.instagram.com/v1/users/self/media/recent/",
                username: "val_en_tinka",
                grams: [],
                next_url: "",
                error: false 
            }
        },
        computed: {
            instapage() {
            return 'https://www.instagram.com/' + this.username
            }
        },
        methods: {
            getGrams() {
                axios.get(this.url + "?access_token=" + this.access_token)
                    .then(({data}) => {
                    this.grams = data.data
                    this.username = data.data[0].user.username
                    this.next_url = data.pagination.next_url
                    })
                    .catch(function (error) {
                    console.log(error)
                    this.error = true
                    });
            },
            getMoreGrams(){
                axios.get(this.next_url)
                    .then(({data}) => {
                    this.grams = this.grams.concat(data.data)
                    this.next_url = data.pagination.next_url
                    })
                    .catch(function (error) {
                    console.log(error)
                    this.error = true
                    });         
            }
        },
        created() {
            this.getGrams();
            // this.copyText();
        }
    }
</script>

<style >

</style>