<template>
    <nav>
        <v-app-bar class="navigation" height="60px" fixed flat dense color="primary">
            <router-link to="/" exact class="logo__heading logo__heading__navbar secondary--text"> Valentina Hülsmann</router-link>
            <v-spacer></v-spacer>
            <v-btn class="secondary--text" @click.stop="drawer = !drawer" rounded outlined >
                <span class="navigation__icon-text secondary--text">Menu</span>
                 <v-icon class="navigation__icon secondary--text" >mdi-menu</v-icon>
            </v-btn>
        </v-app-bar>
        <v-navigation-drawer app temporary right width="400" v-model="drawer" class="primary">
            
            <v-container fluid>
                
                        <div class="drawer__buttons flex-center-center">
                            
                            <v-spacer></v-spacer>
                            <v-btn class="secondary--text" rounded outlined @click.stop="drawer = false">Close</v-btn>
                        </div>
                    
                <v-row class="mt-12">
                    <v-col cols="12">
                        
                        <ul class="navigation__list">
                            <li class="navigation__list-item"><router-link class="navigation__link secondary--text"  to="/" exact>Home</router-link></li>
                            <li class="navigation__list-item"><router-link class="navigation__link secondary--text"  to="/about" exact>About</router-link></li>
                            <li class="navigation__list-item"><router-link class="navigation__link secondary--text"  to="/work" exact>Work</router-link></li>
                            <li class="navigation__list-item"><router-link class="navigation__link secondary--text"  to="/contact" exact>Contact</router-link></li>
                        </ul>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        
                        <ul class="navigation__list mt-8">
                            <li class="navigation__list-item"><a class="navigation__link navigation__social-link secondary--text" target="_blank"  href="https://www.instagram.com/val_en_tinka" exact>Instagram</a></li>
                        </ul>
                    </v-col>
                </v-row>
                
            </v-container>
        </v-navigation-drawer>
    </nav>
</template>

<script>
    export default {
        data (){
            return {
                drawer:false,
            }
        }
    }
</script>

<style lang="scss">

</style>